
.navbar {
    background-image: linear-gradient(to right,#662D8C, #614385,#A890FE);
    overflow: hidden; /* Clear floats */
}

.navbar ul {
    display: flex;
    list-style-type: none;  
    margin: 10;
    padding: 0;
}

.navbar li {
    float: left; /* Align items horizontally */
}

.navbar a {
    display: block; 
    color: white; 
    text-align: center; /* Center text */
    padding: 14px 16px; /* Padding around links */
    text-decoration: none; 
}

.navbar a:hover {
    background-color: #ddd; /* Light background on hover */
    color: black; /* Dark text on hover */
}
.active {
    background-color: #451192;
    color: white;
  }